@using RochaSystem.Features.Produto
@using MediatR
@using RSystem.Domain;

@model InserirEditar.Command

@{
    Layout = "_Layout";
}

@functions {
[Microsoft.AspNetCore.Mvc.Razor.Internal.RazorInject]
public IMediator Mediator { get; private set; }
}

@{
    if (!Model.Editando)
    {
        ViewData["Title"] = "Inserir Produto";
    }
    else
    {
        ViewData["Title"] = "Editar Produto";
    }

    var marcas = (await Mediator.Send(new RochaSystem.Features.Marca.Index.Query()))
.Select(s => new SelectListItem { Text = s.Descricao, Value = s.Id.ToString() });

    var unidadeMedidas = Enum.GetValues(typeof(UnidadeMedidaEnum)).Cast<UnidadeMedidaEnum>().Select(v => new SelectListItem
    {
        Text = v.ToString(),
        Value = ((int)v).ToString()
    }).ToList();

}

<section class="dashboard-header section-padding">
    <div class="container-fluid">
        <div class="row d-flex align-items-md-stretch">

            <form action="" method="post" asp-antiforgery="true" autocomplete="off" class="no-ajax">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Editando" />
                <div class="row">
                    <div class="form-group col-md-2">
                        <label asp-for="Id" class="control-label">Código</label>
                        <input asp-for="Id" required class="form-control" autofocus asp-disabled="@Model.Editando" />
                        <span asp-validation-for="Id"></span>
                    </div>

                    <div class="form-group col-md-5">
                        <label asp-for="Descricao" class="control-label">Descrição</label>
                        <input type="text" asp-for="Descricao" required maxlength="50" class="form-control" />
                        <span asp-validation-for="Descricao"></span>
                    </div>

                    <div class="form-group col-md-3">
                        <label asp-for="Valor" class="control-label">Valor</label>
                        <input type="number" asp-for="Valor" required maxlength="10" class="form-control" />
                        <span asp-validation-for="Valor"></span>
                    </div>

                    <div class="form-group col-md-5">
                        <label asp-for="MarcaId" class="control-label">Marca</label>
                        <select asp-for="MarcaId" class="form-control" asp-items="marcas" required>
                            <option selected hidden disabled>---------</option>
                        </select>
                        <span asp-validation-for="MarcaId"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="UnidadeMedida" class="control-label">Unidade de Medida</label>
                        <select asp-for="UnidadeMedida" class="form-control" asp-items="unidadeMedidas" required>
                            <option selected hidden disabled>---------</option>
                        </select>
                        <span asp-validation-for="UnidadeMedida"></span>
                    </div>

                    <div class="form-group col-md-2">
                        <label asp-for="Quantidade" class="control-label">Quantidade</label>
                        <input type="number" asp-for="Quantidade" class="form-control" />
                        <span asp-validation-for="Quantidade"></span>
                    </div>

                    <div class="form-group col-md-5">
                        <div class="form-check">
                            <input type="checkbox" asp-for="Ativo" class="form-control-custom" />
                            <label asp-for="Ativo" class="form-check-label">Ativo</label>
                            <span asp-validation-for="Ativo"></span>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    <button asp-action="Index" class="btn btn-danger">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</section>