@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de senha esquecida";
}

<section class="dashboard-header section-padding">
    <div class="container-fluid">
        <h2>@ViewData["Title"]</h2>
        <p>
            Por favor, cheque se recebeu uma nova senha no seu e-mail, se não recebeu em até 10 minutos, faça o processo novamente.
        </p>
    </div>
</section>

